.course-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  
  box-shadow: 0 4px 10px var(--courses-shadow); 
}

.course-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.course-main h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--courses-heading);
  margin-top: 0;
  margin-bottom: 1rem;
}

.course-main p {
  font-size: var(--font-size-base);
  line-height: 1.6;
  flex-grow: 1;
}

.course-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  min-width: 280px; 
}

.course-details p {
  margin: 0;
  font-size: var(--font-size-small);
  word-break: break-word;
}

.course-details p strong {
  font-weight: var(--font-weight-bold);
  color: var(--courses-heading);
}

.course-authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px; 
}

.course-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  border: none;
  cursor: pointer;
  padding: 8.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button img {
  width: 20px; 
  height: 20px;
}