.course-card {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px var(--courses-shadow);
  border-left: 7px solid var(--primary-grey);
}


.course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.course-card h2 {
  padding: 1.5rem 0 0 1.5rem;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--courses-heading);
  margin: 0;
}

.course-main {
  flex: 2;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}


.course-main p {
  font-size: var(--font-size-base);
  color: var(--primary-grey);
  line-height: 1.6;
}

.course-details {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .course-details {
    min-width: 300px;
  }

  .course-info {
    flex-direction: row;
  }

  .course-main {
    min-width: 250px;
  }
}

.course-details p {
  margin: 0;
  font-size: var(--font-size-small);
  word-break: break-word;
}

.course-details p strong {
  font-weight: var(--font-weight-bold);
  color: var(--primary-grey);
}

.course-authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}

.course-authors span {
  display: -webkit-box;
  line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.course-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.icon-button {
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 44px;
  width: auto;
}

.icon-button img {
  width: 20px;
  height: 20px;
}