.inputContainer {
  margin-bottom: 24px;
}

.inputLabel {
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--primary-grey);
  line-height: 20px;
  font-size: var(--font-size-base);
  margin-bottom: 8px;
}

.inputField {
  width: 100%;
  padding: 13px 16px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  box-sizing: border-box;
}

.inputField::placeholder {
  color: var(--light-grey);
}

.inputField:focus {
  border-color: var(--primary-grey);
  outline: none;
  box-shadow: 0 0 5px var(--header-box-shadow);
}

.inputError { 
  border-color: var(--error-color) !important;
}

.inputErrorMessage {
  color: var(--error-color);
  font-size: var(--font-size-base);
  margin-top: 5px;
  margin-bottom: 0;
}