.button {
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: var(--font-primary); 
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--btn-hover); 
}