.coursesContainer {
  padding: 2rem 1rem;
}

.panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
}

.panel > div:first-child {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .panel {
    flex-wrap: nowrap;
  } 

  .panel > div:first-child {
      max-width: 60%;
  }
}