.pageTitle {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--primary-grey);
  margin-bottom: 2rem;
}

.formContainer {
  background-color: var(--white);
  padding: 2rem;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.authorsSectionWrapper {
  margin-top: 2.5rem;
}

.mainInfo h2,
.sideInfo h2,
.sideInfo h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--primary-grey);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.mainInfo div{
  margin-bottom: 1rem;
}

.descriptionContainer {
  margin-bottom: 2rem;
}

.descriptionLabel {
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--primary-grey);
  line-height: 20px;
  font-size: var(--font-size-base);
  margin-bottom: 8px;
}

.descriptionTextarea {
  width: 100%;
  min-height: 150px;
  padding: 13px 16px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  box-sizing: border-box;
  resize: vertical;
}

.descriptionTextarea:focus {
  border-color: var(--primary-grey);
  outline: none;
  box-shadow: 0 0 5px var(--header-box-shadow);
}

.sideInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.durationDisplay {
  margin: 0;
  padding: 14px 0;
}

.durationValue {
  font-size: var(--font-size-base);
  color: var(--primary-grey);
  font-weight: var(--font-weight-bold);
}

.authorsSection {
  padding-top: 2rem;
}

.createAuthorSection,
.durationInputWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
  align-items: end;
}

.createAuthorButton {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: var(--font-primary);
  border: 1px solid var(--primary-blue);
}

.durationDisplay, .createAuthorButton {
  margin-bottom: 24px;
}
.authorsList {
  margin-top: 1rem;
  max-height: 200px;
  overflow-y: scroll;
}

.authorsList h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.inputError {
  border-color: var(--error-color);
}

.inputErrorMessage {
  color: var(--error-color);
  font-size: var(--font-size-base);
  margin-top: 5px;
  margin-bottom: 0;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.rightColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftColumn {
  flex-grow: 3;
}

.secondaryInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}