.searchBarContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.searchBarContainer > div:first-child {
  flex-grow: 1;
  margin-bottom: 0px;
}

.searchBarContainer label {
    margin-bottom: 0px;
}